.content{ 
    position: relative;
    top: 55px;
    left: 280px;
    padding: 0.5rem;
    margin-right: 10rem;
    padding-right: 10rem;
    padding-bottom: 20rem;
    color: rgba(256, 256, 256, 0.9);
    background-color: transparent;
}

.profilePic {
    position: fixed;
    top: 60px;
    left: 15px;
    border-radius: 20px;
    object-fit: cover;
    overflow: hidden; /* ensures the image stays within the rounded shape */
}

.blogPost {
    font-style: italic;
    &:hover {
        color: white;
        text-shadow: 1.5px 1.5px 0 rgba(256, 256, 256, 0.5);
        transition: 10ms;
    }
}

.downloadContent {
    position: fixed;
    top: 620px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: 0.5rem;
}

.downloadIcon {
    position: fixed;
    top: 700px;
    right: 30px;
    align-items: center;
    margin-left: 250px;
    cursor: pointer;
    transition: filter 200ms;
}

.downloadIcon:hover img {
    filter: brightness(100%) saturate(100%) invert(0%) sepia(100%) saturate(10%) hue-rotate(10deg) brightness(100%) contrast(100%);
}