.content{ 
    position: fixed;
    top: 60px;
    left: 280px;
    padding: 0.5rem;
    margin-right: 0.5rem;
    color: rgba(256, 256, 256, 0.9);
    background-color: transparent;
}

.profilePic {
    position: fixed;
    top: 60px;
    left: 15px;
    border-radius: 20px;
    object-fit: cover;
    overflow: hidden; /* ensures the image stays within the rounded shape */
}

.blogPost {
    font-style: italic;
    &:hover {
        color: white;
        text-shadow: 1.5px 1.5px 0 rgba(256, 256, 256, 0.5);
        transition: 10ms;
    }
}

.downloadContent {
    position: fixed;
    top: 715px;
    left: 20px;
    padding: 0.1rem;
    color: rgba(256, 256, 256, 0.9);
    background-color: transparent;
}

.downloadIcon {
    position: fixed;
    top: 715px;
    left: 530px;
    align-items: center;
    transition: filter 2s;
    display: flex;
}

.downloadIcon:hover img {
    filter: brightness(100%) saturate(100%) invert(0%) sepia(100%) saturate(10%) hue-rotate(10deg) brightness(100%) contrast(100%);
}