.navBar {
  top: 30px;
  left: 0px;
  background-color: var(--background);
  text-align: left;
  position: fixed;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 480px;
  color: var(--foreground);
  width: 180px;
  z-index: 1;
}

.blogContent {
  position: relative;
  display: block;
  top: 38px;
  left: 250px;
  padding: 0.5rem;
  background-color: transparent;
  color: white;
}

.article {
  margin-block: 2rem;
  display: inline-block;
  font-style: italic;
  margin-bottom: 1rem;
  border-radius: 5px;
}

